td.popupmenu div.popupitem .playlist-edit {background-image:url(/bitrix/components/bitrix/player/images/playlist_edit.gif);}.video-js .vjs-tech{border-radius: 28px;}.video-js{background-color: white;border-radius: 28px;}.vjs-poster{border-radius: 28px;}