.bx-rating {
	display: block;
	text-align: center;
}

.bx-rating-icon-container  {
	margin-right: 3px;
	cursor: pointer;
}

.bx-rating .bx-rating-icon-container:last-child { margin-right: 0; }

.bx-rating-icon {
	fill: var(--primary)
}

/****************************/

.rating-count_bitrix {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	display: inline-block;
	margin-left: 15px;
	color: #CCCCCC;
	font-family: 'Glober-free';
	font-weight: 700;
	font-size: 24px;
}