.cat {
    -webkit-box-pack: start !important;
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
}
.cat__item {
    margin-right: 24px;
}
#mobile__select a, #mobile__select .__select__title {
    line-height: 22px;
}