.magazinep__img img {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.magazinep.main-content .magazinep__label a {
    font-size: 21px;
    color: #454c4f;
}
.magazinep.main-content .magazinep__label a:hover {
    text-decoration: none;
}