
.bx_item_detail_rating{margin-bottom: 10px;}
.bx_item_detail_rating td{
	vertical-align: middle;
	text-align: right;
}
.bx_item_detail_rating .bx_item_rating{
	text-align: right;
}
.bx_item_detail_rating .bx_stars_container{
	position: relative;
	width: 86px;
	height: 14px;
	background: #dadada;
	background-size: 100% 100%;
}
.bx_item_detail_rating .bx_stars_bg{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 101;
	/*background: url(images/stars.png) no-repeat center;*/
	background: url(images/stars_rating_grey_2.png) no-repeat center;
}

.bx_item_detail_rating .bx_stars_progress{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	background: #e10486;
}
.bx_item_detail_rating .bx_stars_rating_votes{
	color: #ccc;
	font-size: 24px;
	font-weight: 700;
	font-family: Glober-free;
	line-height: 24px;
	vertical-align: middle;
}

/*.bx_item_detail_rating .bx_vam{vertical-align: middle;}*/

@media (max-width:530px){
	.bx-touch .bx_item_detail_rating .bx_stars_container{
		height: 15px;
		margin: 4px 0;
	}
	.bx_item_detail_rating .bx_stars_rating_votes{
			/*font-size: 7px;
			line-height: 7px;*/
	}
}