#basket-root {
    font-family: Glober;
}
#basket-root .row {
    border-radius: 28px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
}
#basket-root .basket-items-list-wrapper, #basket-root .basket-items-list-wrapper-compact {
    border: none;
}
#basket-root .basket-items-list-header {
    background: white;
}
#basket-root .basket-items-list-header-filter-item {
    font-size: 25px;
    font-weight: 400;
}
#basket-root .basket-item-info-name, #basket-root .basket-item-info-name-link {
    font-size: 18px;
    font-family: Glober-free;
    font-weight: 700;
    color: #000;
}
#basket-root .basket-items-list-item-removed-container {
    background-color: white;
}
#basket-root .basket-items-list-item-clear-btn::before, #basket-roo .basket-items-list-item-clear-btn::after {
    background: #e10486;
}
#basket-root .basket-item-scu-item:hover, #basket-root .basket-item-scu-item.selected, #basket-root .basket-item-scu-item.not-available:hover {
    border-color: #e10486;
}
#basket-root .basket-item-amount-filed:hover, #basket-root .basket-item-amount-filed:focus {
    border-color: #e10486;
}
#basket-root .basket-checkout-container {
    border: none;
    border-radius: 0;
    background-color: transparent;
}
#basket-root .basket-checkout-block.basket-checkout-block-btn {
    width: 307px;
}
#basket-root button.link-half.lookbook__link.basket-info__btn {
    border-radius: 0;
    font-weight: normal;
    border: none;
    background-color: transparent;
    text-transform: uppercase;
}
#basket-root button.link-half.lookbook__link.basket-info__btn:hover {
    font-weight: 700;
    background-color: #f5d6e2;
    cursor: pointer;
}
#basket-root button.link-half.lookbook__link.basket-info__btn:focus {
    outline: none;
}