.smart-filter {
	margin-bottom: 20px;
	min-width: 220px;
	width: 100%;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.smart-filter-section { position: relative; }

.smart-filter-title {
	margin-bottom: 10px;
	color: #000;
	font-size: 18px;
}

/*Sections*/

.smart-filter-parameters-box { position: relative; }

.smart-filter-parameters-box-title {
	/*display: inline-block;*/
	display: block;
	padding-bottom: 7px;
	font-size: 13px;
}

.smart-filter-parameters-box-title-text {
	color: var(--primary);
	cursor: pointer;
	transition: 250ms linear all;
}

/*.bx-active .smart-filter-parameters-box-title-text { color: #333; }*/

/*region Angles*/
.smart-filter-angle {
	position: relative;
	display: inline-block;
	width: 20px;
	height: 19px;
	vertical-align: middle;
}

.smart-filter-angles {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 20px;
	height: 20px;
	line-height: 20px;
	cursor: pointer;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.smart-filter-angles:after,
.smart-filter-angles:before {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 5px;
	height: 1px;
	background-color: var(--primary);
	content: "";
	transition: all 250ms ease;
	-webkit-transform-origin: center;
	-moz-transform-origin: center;
	-ms-transform-origin: center;
	-o-transform-origin: center;
	transform-origin: center;
}

.smart-filter-angles:before,
.smart-filter-angle-up .smart-filter-angles:after {
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-o-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.smart-filter-angles:after { margin-left: 3px; }

.smart-filter-angles:after,
.smart-filter-angle-up .smart-filter-angles:before {
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
	-moz-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
	-o-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
	transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}

/*endregion*/

/*region hint*/
.smart-filter-hint {
	position: relative;
	display: inline-block;
	margin-right: 6px;
}

.smart-filter-hint-icon {
	display: block;
	padding: 0 5px;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: var(--primary);
	color: #fff;
	vertical-align: middle;
	text-align: center;
	font-size: 12px;
	line-height: 15px;
}

.smart-filter-hint-popup {
	position: absolute;
	top: calc(100% + 8px);
	left: -7px;
	z-index: 10;
	display: none;
	padding: 10px;
	min-width: 200px;
	max-width: 300px;
	border: 1px solid #dfdfdf;
	border-radius: 3px;
	background-color: #fff;
	box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.14);
}

.smart-filter-hint:hover .smart-filter-hint-popup { display: block; }

.smart-filter-hint-popup-angle {
	position: absolute;
	top: -5px;
	left: 10px;
	width: 10px;
	height: 10px;
	border-top: 1px solid #dfdfdf;
	border-left: 1px solid #dfdfdf;
	background-color: #fff;
	transform: rotate(45deg);
}

/*endregion*/

.smart-filter-block {
	display: none;
	box-sizing: content-box;
	transition: padding .3s ease;
}

.smart-filter-button-box .smart-filter-block,
.smart-filter-parameters-box.bx-active .smart-filter-block { display: block; }

.smart-filter-parameters-box.bx-active .smart-filter-block i.bx-ft-sub {
	display: block;
	padding-bottom: 5px;
	font-style: normal;
	font-size: 14px;
}

/*region NUMBERS_WITH_SLIDER*/
.smart-filter-input-group-number { }

/*endregion*/

/*region TRACK FOR TYPE NUMBER*/

.smart-filter-slider-track-container {
	overflow: hidden;
	/*padding: 25px 18px 25px;*/
	padding: 25px 0px;
}

.smart-filter-slider-track {
	position: relative;
	height: 7px;
	/*background: #e7e7e7;*/
	background: #f5f5f5;
}

.smart-filter-slider-ruler {
	position: absolute;
	top: -6px;
	width: 1px;
	height: 17px;
	background: #a2bfc7;
}

.smart-filter-slider-ruler.p1 { left: -1px; }

.smart-filter-slider-ruler.p2 { left: 25%; }

.smart-filter-slider-ruler.p3 { left: 50%; }

.smart-filter-slider-ruler.p4 { left: 75%; }

.smart-filter-slider-ruler.p5 { right: -1px; }

.smart-filter-slider-ruler span {
	position: absolute;
	top: -16px;
	left: 50%;
	display: block;
	margin-left: -50px;
	width: 100px;
	color: #000;
	text-align: center;
	font-size: 11px;
}

.smart-filter-slider-ruler.p2 span,
.smart-filter-slider-ruler.p3 span,
.smart-filter-slider-ruler.p4 span { color: #6b8086; }

.smart-filter-slider-range {
	/*z-index: 50;*/
	z-index: 90;
}

.smart-filter-slider-range,
.smart-filter-slider-price-bar,
.smart-filter-slider-price-bar-vd,
.smart-filter-slider-price-bar-vn,
.smart-filter-slider-price-bar-v {
	position: absolute;
	top: 0;
	bottom: 0;
}

.smart-filter-slider-price-bar { z-index: 100; }

.smart-filter-slider-price-bar-vd {
	z-index: 60;
	background: #b1b1b1;
}

.smart-filter-slider-price-bar-vn {
	z-index: 70;
	background-color: var(--theme-color-light); }

.smart-filter-slider-price-bar-v {
	z-index: 80;
	/*background-color: var(--theme-color-primary);*/
	background-color: #f5d6e2;
}

.smart-filter-slider-handle {
	/*position: absolute;
	top: 100%;
	width: 0;
	height: 0;
	border: 7px solid var(--primary);*/
	position: absolute;
	top: -6px;
	width: 17px;
	height: 17px;
	background: #f5d6e2;
	border-radius: 50%;
	cursor: pointer;
	z-index: 82;
	-webkit-transition: border .4s,-webkit-transform .2s;
	transition: border .4s,-webkit-transform .2s;
	-o-transition: transform .2s,border .4s;
	transition: transform .2s,border .4s;
	transition: transform .2s,border .4s,-webkit-transform .2s;
}

.smart-filter-slider-handle:hover {
	/*cursor: grab;
	-webkit-cursor: grab;
	-ms-cursor: grab;
	-o-cursor: grab;*/

	cursor: pointer;
	-webkit-cursor: pointer;
	-ms-cursor: pointer;
	-o-cursor: pointer;
}

.smart-filter-slider-handle:active {
	/*cursor: grabbing;
	-webkit-cursor: grabbing;
	-ms-cursor: grabbing;
	-o-cursor: grabbing;*/

	cursor: pointer;
	-webkit-cursor: pointer;
	-ms-cursor: pointer;
	-o-cursor: pointer;
}

.smart-filter-slider-handle.left {
	left: 0;
	/*margin-left: -14px;
	border-top: 7px solid transparent;
	border-left: 7px solid transparent;*/
}

.smart-filter-slider-handle.right {
	right: 0;
	/*margin-right: -14px;
	border-top: 7px solid transparent;
	border-right: 7px solid transparent;*/
}

/*endregion*/

/* region Select */
.smart-filter-input-group-dropdown {
	display: block;
	height: 31px;
	border: 1px solid #ccd5db;
	border-radius: 3px;
}

.smart-filter-input-group-dropdown.bx-active,
.smart-filter-input-group-dropdown:focus { border-color: var(--primary); }

.smart-filter-dropdown-block {
	position: relative;
	display: block;
	margin: 0;
	padding: 0 29px 0 10px;
	width: 100%;
	height: 29px;
	border: none;
	border-radius: 2px;
	background: #fff;
}

.smart-filter-dropdown-text {
	overflow: hidden;
	max-width: 100%;
	height: 29px;
	vertical-align: middle;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 29px;
	cursor: pointer;
}

.smart-filter-dropdown-text.fix { min-width: 120px; }

.smart-filter-dropdown-text label { cursor: pointer; }

.smart-filter-dropdown-arrow {
	position: absolute;
	top: 0;
	right: 0;
	width: 29px;
	height: 29px;
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAECAYAAABCxiV9AAAAG0lEQVQY02OYOXPmf1yYAQRwSsAATglkBch8ADy7LKHqFrgoAAAAAElFTkSuQmCC') no-repeat center;
	cursor: pointer;
}

.smart-filter-input-group-dropdown-flex {
	display: flex;
	align-items: center;
}

.smart-filter-input-group-dropdown-flex .smart-filter-checkbox-btn-image {
	margin-right: 5px;
}

/*
*	Select popup
*
*/

.smart-filter-dropdown-popup {
	padding: 0;
	min-width: 173px;
	background: #fff;
}

.smart-filter-dropdown-popup ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.smart-filter-dropdown-popup ul li {
	display: block;
	vertical-align: middle;
}

.smart-filter-dropdown-popup ul li:first-child {
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #e5e5e5;
}

.smart-filter-dropdown-popup ul li label {
	display: flex;
	align-items: center;
	overflow: hidden;
	/*padding: 0 5px;*/
	width: 100%;
	color: #575757;
	white-space: nowrap;
	cursor: pointer;
}

.smart-filter-dropdown-popup ul li label.selected,
.smart-filter-dropdown-popup ul li label:hover {
	background: #f3f8fa;
	color: #000;
}

.smart-filter-dropdown-popup ul li label.disabled {
	background: transparent;
	color: #b8b8b8;
}

.smart-filter-dropdown-popup ul li .smart-filter-dropdown-text { padding-left: 5px;}

/*endregion */

/* region TAGS */

.smart-filter-tag {
	padding: 18px;
	border-top: 1px solid var(--theme-color-light);
	border-bottom: 1px solid var(--theme-color-light);
}

.smart-filter .bx-tag-link {
	color: var(--theme-color-light);
	text-decoration: none;
	text-shadow: none;
	font-size: 12px;
}

.smart-filter .bx-tag-link.bx-active,
.smart-filter .bx-tag-link:hover { color: #1d3d46; }

/*endregion*/

/*region CHECKBOXES_WITH_PICTURES*/
.smart-filter-input-group-checkbox-pictures { }

.smart-filter-input-group-checkbox-pictures .smart-filter-param-label {
	display: block;
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
}

/*endregion*/

/*region CHECKBOXES_WITH_PICTURES_AND_LABELS*/
.smart-filter-input-group-checkbox-pictures-text { }

.smart-filter-input-group-checkbox-pictures-text .smart-filter-checkbox-label {
	display: flex;
	align-items: center;
}

.smart-filter-input-group-checkbox-pictures-text .smart-filter-checkbox-text { padding-left: 5px; }

/*endregion*/

/*region LABEL */
.smart-filter-checkbox-btn,
.smart-filter-checkbox-text-btn {
	position: relative;
	display: inline-block;
	padding: 3px;
	width: 31px;
	height: 31px;
	border: 1px solid #ccd5db;
	border-radius: 2px;
	background: #fff;
	color: #000;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	font-weight: normal;
	line-height: 23px;
	cursor: pointer;
	transition: border .3s ease, box-shadow .1s ease, color .3s ease;
}

.smart-filter-checkbox-btn:hover,
.smart-filter-checkbox-btn:active,
.smart-filter-checkbox-btn:focus,
.smart-filter-checkbox-label.bx-active .smart-filter-checkbox-btn,
.smart-filter-checkbox-label.bx-active .smart-filter-checkbox-btn,
.smart-filter-checkbox-text-label.bx-active .smart-filter-checkbox-btn { border-color: #e10486/*var(--primary)*/; }
.smart-filter-checkbox-text,
.smart-filter-dropdown-text { font-size: 18px; }

.smart-filter-checkbox-label.disabled .smart-filter-checkbox-text,
.smart-filter-dropdown-label.disabled .smart-filter-dropdown-text,
.smart-filter-checkbox-text-label.disabled .smart-filter-checkbox-text,
.smart-filter-input-group-checkbox-list.disabled .smart-filter-checkbox-text { color: #6c6c6c; }

.smart-filter-checkbox-label.disabled .smart-filter-checkbox-btn,
.smart-filter-checkbox-text-label.disabled .smart-filter-checkbox-btn {
	position: relative;
	opacity: .7;
}

.smart-filter-checkbox-label.disabled .smart-filter-checkbox-btn:before,
.smart-filter-checkbox-text-label.disabled .smart-filter-checkbox-btn:before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	display: block;
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAA/UlEQVQ4y5WSQQ6CQAxFOSBuwAtoAitc4R6MkKgYJULUi8Ax4DgKm9o/45BxBBNJmkB/33T6qUVEHkfDUXHY1sQD7V2DWg+JJox3lOZ3enYdf5IzAjnQkvxGa64Fg2S9PV3JXa4ozoovWEGbY0nOIqDkfIVeQ5hBAOQsAy5guO8FbEJxVqqDZ+rUuQ6rziJ3VLkBcs05BBxlF1nIADrJESYgE0YhAER0KH5DphEKFDNPuG1AhTAi4jnRWV17FNYhcT3NHLzLzuUnjI0YHP203EWY8ENqNsAq5Y3Qf4NuhIT7wTBsDxgIbRjvCfCUe6ozoFCuXIukj5c/lhy1/gvSDM3b8PrjegAAAABJRU5ErkJggg==") no-repeat center;
	content: ' ';
	opacity: .7;
}

.smart-filter-number-label,
.smart-filter-dropdown-label,
.smart-filter-checkbox-label,
.smart-filter-checkbox-text-label {
	min-height: 20px;
	font-weight: normal;
	cursor: pointer;
}

/**/

.smart-filter-checkbox-btn-image {
	display: block;
	width: 37px;
	height: 37px;
	border-radius: 2px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .05);
	vertical-align: middle;
	line-height: 24px;
	-webkit-background-size: cover;
	margin-left: -3px;
	margin-top: -3px
}

.smart-filter-checkbox-btn-image.all {
	position: relative;
	border: none;
	box-shadow: none;
	display: inline-block;
}

.smart-filter-checkbox-btn-image.all:after,
.smart-filter-checkbox-btn-image.all:before {
	position: absolute;
	width: 60%;
	height: 60%;
	background: #fff;
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2);
	content: " ";
}

.smart-filter-checkbox-btn-image.all:after {
	right: 0;
	bottom: 0;
}

.smart-filter-checkbox-btn-image.all:before {
	top: 0;
	left: 0;
}

/*endregion*/

/*region Checkbox / Radio */
.smart-filter-input-group-checkbox-list { }

.smart-filter-checklist {
	margin: 0;
	padding: 0;
	list-style: none;
}

/*endregion*/

/* COLOR */
/* --- colors */
.smart-filter-param-btn.bx-color-sl { }

.smart-filter-param-label.disabled .smart-filter-param-btn.bx-color-sl {
	position: relative;
	background: transparent;
	box-shadow: none
}

.smart-filter-param-label.disabled .smart-filter-param-btn.bx-color-sl:before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	display: block;
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAA/UlEQVQ4y5WSQQ6CQAxFOSBuwAtoAitc4R6MkKgYJULUi8Ax4DgKm9o/45BxBBNJmkB/33T6qUVEHkfDUXHY1sQD7V2DWg+JJox3lOZ3enYdf5IzAjnQkvxGa64Fg2S9PV3JXa4ozoovWEGbY0nOIqDkfIVeQ5hBAOQsAy5guO8FbEJxVqqDZ+rUuQ6rziJ3VLkBcs05BBxlF1nIADrJESYgE0YhAER0KH5DphEKFDNPuG1AhTAi4jnRWV17FNYhcT3NHLzLzuUnjI0YHP203EWY8ENqNsAq5Y3Qf4NuhIT7wTBsDxgIbRjvCfCUe6ozoFCuXIukj5c/lhy1/gvSDM3b8PrjegAAAABJRU5ErkJggg==") no-repeat center;
	content: ' ';
	opacity: .7;
}

.smart-filter-param-label .smart-filter-param-btn:hover,
.smart-filter-param-label.bx-active .smart-filter-param-btn { border-color: var(--primary); }

/*
* BTN P/M
*
*/

.smart-filter-param-btn.bx-spm {
	padding: 0;
	min-width: 23px;
	width: 23px;
	height: 23px;
	border-radius: 50%;
	background-color: transparent;
	color: #767b7e;
	vertical-align: top;
	font-weight: normal;
	font-size: 17px;
	line-height: 23px;
}

.smart-filter-param-btn.bx-spm.bx-plus { background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAMCAYAAAC0qUeeAAAANUlEQVQoz2NgwAQsQMzJQCSwAeKGQa7YFKoAhmOgim3QsAxIcSFUkhC2GaqhgQ4UgNgFmwQAij8OUFmBFssAAAAASUVORK5CIIA=") no-repeat center; }

.smart-filter-param-btn.bx-spm.bx-minus { background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAACCAYAAABhYU3QAAAAG0lEQVQYV2NgYGDgBuI4AlgGiBn4gLicAFYGAAFkBwE95V42AAAAAElFTkSuQmCC") no-repeat center; }

.smart-filter-param-btn.bx-spm:active {
	outline: none !important;
	box-shadow: inset 0 2px 3px rgba(0, 0, 0, .12);
}

.smart-filter span.bx-spm {
	display: inline-block;
	margin: 0 10px;
	height: 23px;
	color: #000;
	vertical-align: middle;
	font-size: 18px;
	line-height: 23px;
}

/*
*	icon
*
*/

.smart-filter-select-popup .smart-filter-select-text-icon,
.smart-filter-select-text-icon {
	position: relative;
	display: inline-block;
	margin-top: -4px;
	margin-right: 2px;
	width: 23px;
	height: 23px;
	border-radius: 2px;
	vertical-align: middle;
	line-height: 33px;
}

.smart-filter-select-popup .smart-filter-btn-color-icon,
.smart-filter-btn-color-icon {
	display: block;
	width: 24px;
	height: 24px;
	border-radius: 2px;
	background-size: cover;
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .05);
	vertical-align: middle;
	line-height: 24px;
	-webkit-background-size: cover;
}

.smart-filter-select-popup .smart-filter-btn-color-icon {
	top: 0 !important;
	margin: 2px 0;
	width: 20px;
	height: 20px;
}

.smart-filter-select-block .smart-filter-btn-color-icon { top: -1px !important; }

.smart-filter-param-label.disabled .smart-filter-btn-color-icon { opacity: .2; }

/*
* 	BIZ
*
*/

.smart-filter-parameter-biz {
	display: inline-block;
	margin-right: 10px;
	border-bottom: 1px dashed;
	color: #1485ce;
	text-decoration: none;
	font-size: 14px;
	line-height: 15px;
}

.smart-filter-parameter-biz:hover {
	border-bottom: 1px solid;
	text-decoration: none;
}

.smart-filter-parameter-biz.bx-active {
	position: relative;
	border-color: transparent;
	color: #000;
}

/*
*	BTN result and reset 
*
*/

.btn-themes { color: #fff }

.btn-themes.bx-active,
.btn-themes.focus,
.btn-themes:active,
.btn-themes:focus,
.btn-themes:hover { color: #fff }

/*
* 	Result Popup
*
*/

.smart-filter-popup-result {
	position: absolute;
	z-index: 915;
	display: none;
	margin-top: -7px;
	margin-left: 10px;
	padding: 0 10px;
	min-height: 37px;
	border: 1px solid #c6dce7;
	color: #3f3f3f;
	white-space: nowrap;
	font-weight: normal;
	font-size: 13px;
	line-height: 18px;
}

.smart-filter-popup-result.left {
	border-width: 2px 10px 2px 2px;
	-webkit-border-image: url(images/result_popup_left.png) 4 20 4 4 repeat;
	-moz-border-image: url(images/result_popup_left.png) 4 20 4 4 repeat;
	-o-border-image: url(images/result_popup_left.png) 4 20 4 4 repeat;
	border-image: url(images/result_popup_left.png) 4 20 4 4 fill repeat;
}

.smart-filter-popup-result.right {
	border-width: 2px 2px 2px 10px;
	-webkit-border-image: url(images/result_popup_right.png) 4 4 4 20 repeat;
	-moz-border-image: url(images/result_popup_right.png) 4 4 4 20 repeat;
	-o-border-image: url(images/result_popup_right.png) 4 4 4 20 repeat;
	border-image: url(images/result_popup_right.png) 4 4 4 20 fill repeat;
}

.smart-filter-popup-result.right { left: 97%; }

.smart-filter-popup-result.left { right: 97%; }

.smart-filter-horizontal .smart-filter-popup-result {
	position: relative;
	right: auto;
	bottom: -7px;
	left: auto;
	display: inline-block;
}

.smart-filter-popup-result a {
	color: #0073a3;
	line-height: 10px;
}

.smart-filter-popup-result a:hover { text-decoration: none; }

.smart-filter-popup-result-close { display: none; }

@media (max-width: 767px) {
	.bx-touch .smart-filter-popup-result {
		position: fixed !important;
		top: auto !important;
		right: 0 !important;
		bottom: 0 !important;
		left: 0 !important;
		z-index: 1001;
		margin-top: 0;
		margin-left: 0;
		padding: 10px;
		width: auto;
		height: auto;
		border: 1px solid #c6dae7;
		border-radius: 2px;
		background: rgba(255, 255, 255, .9);
		font-size: 12px;
		line-height: 14px;
	}

	.bx-touch .smart-filter-popup-result br { display: none; }

	.smart-filter-popup-result .arrow { display: none; }
}

/*****************************/

.hidden_filter_buttons {
	display: none;
}
.hl-filter__block .hl-filter__name::before {
	content: "";
	width: 1.4em;
	height: 1.4em;
	margin-left: 10px;
	float: right;
	background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2213%22%20height%3D%2213%22%20viewBox%3D%220%200%2013%2013%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Crect%20fill%3D%22%23666%22%20width%3D%2213%22%20height%3D%221%22%20x%3D%220%22%20y%3D%226%22%20%2F%3E%0A%20%20%20%20%3Crect%20fill%3D%22%23666%22%20width%3D%221%22%20height%3D%2213%22%20x%3D%226%22%20y%3D%220%22%20%2F%3E%0A%3C%2Fsvg%3E);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.hl-filter__block.bx-active .hl-filter__name::before {
	background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2213%22%20height%3D%2213%22%20viewBox%3D%220%200%2013%2013%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Crect%20fill%3D%22%23666%22%20width%3D%2213%22%20height%3D%221%22%20x%3D%220%22%20y%3D%226%22%20%2F%3E%0A%3C%2Fsvg%3E);
}
.ha-check__mark.form-check-input:checked+.ha-check__text {
	font-weight: 700;
}
/*.ha-check__mark.form-check-input:checked {
	content: "";
	position: absolute;
	display: block;
	left: 8px;
	top: 4px;
	width: 5px;
	height: 8px;
	border: solid #e10486;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}*/
.my_chkbx, .my_chkbx_type {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.my_chkbx+label {
	display: inline-flex;
	align-items: center;
	user-select: none;
}
.my_chkbx+label::before {
	content: '';
	display: inline-block;
	width: 22px;
	height: 22px;
	flex-shrink: 0;
	flex-grow: 0;
	border: 1px solid #707070;
	background-color: #fff;
	/*border-radius: 0.25em;
	margin-right: 0.5em;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 50%;*/
}
.my_chkbx:checked+label span::before {
	content: "";
	display: block;
	position: relative;
	left: -16px;
	top: -2px;
	width: 5px;
	height: 8px;
	border: solid #e10486;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	margin-right: -7px;

	/*position: absolute;
	left: 8px;
	top: 4px;*/
}
.my_chkbx_type:checked+label {
	color: #e842a4!important;
	text-decoration: underline;
}
.ha-check__text.smart-filter-checkbox-text.form-check-label {
	margin-left: 0px;
}
.ha-check__text.smart-filter-checkbox-text.form-check-label span {
	margin-right: 15px;
}
.hl-filter__container.smart-filter-input-group-checkbox-list .ha-check__container {
	padding-left: 0px;
}
.ha-top__price .form-control-sm {
	display: inline-block;
	height: 25px;
	border: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
	width: 75%;
	background: 0 0;
	font-size: 14px;
}
.ha-top__price .min-price.form-control-sm {
	text-align: left;
}
.ha-top__price .max-price.form-control-sm {
	text-align: right;
}
.hl-filter__clear.btn.btn-link {
	border: none;
	width: 100%;
	background-color: white;
	cursor: pointer;
}
.link-half.hl-filter__btn .btn.btn-primary {
	border: none;
	background: transparent;
	font-size: 20px;
	text-transform: uppercase;
	color: #7b7b7b;
	text-decoration: underline;
}
.link-half.hl-filter__btn {
	text-decoration: none;
	width: 220px;
}
.my_chkbx_type:disabled+label.hl-filter__name {
	color: #bcbcbc;
}
#set_filter:focus, #del_filter:focus {
	outline-width: 0px;
}
.filter_block_dspl_none {
	display: none;
}
label.hl-filter__name, .smart-filter-parameters-box-container .link-half.hl-filter__btn, .smart-filter-parameters-box-container .link-half.hl-filter__btn input {
	cursor: pointer;
}
label.ha-check__text {
	cursor: pointer;
}
.ha-check__text.smart-filter-checkbox-text.form-check-label.disabled {
	color: lightgrey;
}