.breadcrumb {
    background-color: white;
    border-radius: 0px;
}
/*#bx-soa-order a, #bx-soa-order h2, #bx-soa-order strong, #bx-soa-order label, #bx-soa-order input {
    font-family: Glober-free;
}*/
.alert-success {
    background: #f599bd;
    font-family: Glober-free;
    color: #fff;
}
.icon-success {
    background-color: white;
    border-radius: 11px;
}
#bx-soa-main-notifications {
    border-radius: 28px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /*-webkit-box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%);*/
}
.alert {
    border-radius: 28px;
}
.bx-soa-section {
    border-radius: 28px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /*-webkit-box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%);*/
    /*width: 1036px;*/
    padding: 20px 22px 19px 18px;
    margin-bottom: 50px;
}
.bx-soa-section.bx-step-completed {
    border: 1px solid #e10486;
}
.bx-soa-section.bx-selected {
    border: 1px solid #e10486;
}
#bx-soa-total-mobile .bx-soa-cart-total {
    border-radius: 28px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /*-webkit-box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%);*/
    /*width: 1036px;*/
    padding: 20px 22px 19px 18px;
    margin-bottom: 50px;
}
.link-half.lookbook__link.order-btn-get.btn-order-save {
    width: 257px;
    margin: 0 auto;
}
.link-half.lookbook__link.order-btn-get.btn-order-save::after {
    background-image: url(/local/templates/main/img/ico/filter-arr-right.svg);
    background-repeat: no-repeat;
    background-position: 83% 50%;
}
.bx-soa-section-title-container {
    background: none;
}
.bx-soa-section-title-count {
    border: 1px solid #e10486;
}
.bx-soa-section.bx-step-completed .bx-soa-section-title-count {
    /*background: #f599bd;
    border-color: #f599bd;*/

    background: #e10486;
    border-color: #e10486;
}
.bx-soa-coupon {
    display: none;
}
.bx-soa-editstep {
    text-decoration: underline;
    font-family: Glober-free;
    font-weight: 700;
    font-size: 12px;
    color: #7b7b7b;
    border-bottom: none;
}
.bx-soa-item-title a {
    color: #444040;
}
.form-control.bx-soa-customer-input {
    box-sizing: border-box;
    border-radius: 9px;
    border: 1px solid #c9c9c9;
    height: 34px;
    outline: 0;
    padding: 0 15px;
}
.bx-sls {
    box-sizing: border-box;
    border-radius: 9px;
    border: 1px solid #c9c9c9;
    height: 34px;
    outline: 0;
    padding: 0 15px;
}
.bx-sls .form-control.dropdown-block {
    background-color: transparent;
    border: none;
}
.bx-soa-pp-company.bx-selected .bx-soa-pp-company-graf-container {
    border-color: #e10486;
}
.bx-soa-pp-company {
    z-index: 50;
}
.bx-soa-cart-total {
    border-radius: 28px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /*-webkit-box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%);*/
    /*width: 1036px;*/
    padding: 20px 22px 19px 18px;
    margin-bottom: 50px;
}
#bx-soa-orderSave .link-half {
    width: 257px;
}