.btn-korz.not_avail:before {
    background: none;
}

.ya-share2__item_more.ya-share2__item_has-pretty-view .ya-share2__icon_more {
    background-image: url('/local/templates/main/img/main/share-card.svg') !important;
}
.ya-share2__container_size_m .ya-share2__item_more.ya-share2__item_has-pretty-view .ya-share2__link_more.ya-share2__link_more-button-type_short {
    background: white !important;
}
.ya-share2__container_size_m .ya-share2__item_more.ya-share2__item_has-pretty-view .ya-share2__link_more.ya-share2__link_more-button-type_short {
    padding: 8px !important;
    webkit-box-shadow: 0 1px 6px rgb(0 0 0 / 16%);
    box-shadow: 0 1px 6px rgb(0 0 0 / 16%);
}

.to_submit_main_feedback {
    display: none;
}

.article__share .ya-share2__item_more.ya-share2__item_has-pretty-view .ya-share2__icon_more{
    background: url(../img/main/subscribe.svg) center center no-repeat !important;
    height: 30px !important;
    width: 33px !important;
}

.article__share .ya-share2__item_more.ya-share2__item_has-pretty-view .ya-share2__link_more {
    box-shadow: none !important;
    border-radius: 0 !important;
}

.__select__content .__select__label a {
    color: inherit;
}
.__select__content .__select__label a:hover {
    text-decoration: none;
}

#sender-subscribe {
    min-width: 300px;
}