.search {
  width: 100%;
}

.title-search-result table {
  background: #fff;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.06);
  border-radius: 0 0 15px 15px;
  padding: 0 15px;
}

.title-search-result {
  margin-top: -2px;
  margin-left: 5px;
  z-index: 11;
}

.title-search-more a, .title-search-all a {
  color: #e842a4;
}

.title-search-item a {
  color: #000;
  margin-bottom: 10px;
  font-size: 16px;
}

.input-group {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.form-control {
  outline: none;
  background: #f5f5f5;
  color: #686868;
  font-size: 18px;
  line-height: 51px;
  outline: 0;
  border: none;
  padding: 6px 0 0 17px;
  height: 29px;
  box-sizing: border-box;
}

/* .btn-primary {
  background: #e10486;
  border: none;
  color: #fff;
  height: 29px;
  line-height: 31px;
  font-size: 16px;
  font-weight: 500;
  padding: 0 10px;
  outline: none;
  cursor: pointer;
} */
#list span {
  display: block;
  width: 78px;
  height: 89px;
  position: relative;
  box-shadow: 0 3px 16px rgba(0, 0, 0, 0.09);
  border-radius: 12px;
  overflow: hidden;
  margin-right: 5px;
  margin-bottom: 10px;
}

#list span img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

#list {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
}

#files {
  display: none;
}

.send__photo {
  color: #454C4F;
  font-family: Glober-free;
  font-weight: 700;
  font-size: 18px;
  text-decoration: underline;
  cursor: pointer;
}

.send__photo-wrap {
  margin-left: 25px;
  margin-top: 25px;
  margin-bottom: 17px;
}

.basket-items-list-item-removed-block a {
  line-height: 20px;
  color: #e10486;
}

@media screen and (max-width: 1199px) {
  .search {
    display: block;
    width: 80%;
  }
}

@media screen and (max-width: 1010px) {
  .search {
    display: none;
  }
}

@media screen and (max-width: 760px) {
  .send__photo-wrap {
    margin-left: 0;
  }
}
